@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
  height: 100%;
  min-height:800px;
}
body {
  background: url('bg.png');
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
 font-family: 'Noto Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1{
  font-weight:400;
  padding-top:0;
  margin-top:0;
  font-family: 'Roboto Slab', serif;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: rgb(237, 40, 70);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

.intro {
    max-width: 800px;
}
section {
  padding: 50px ;
  max-width: 500px;
  margin: 30px auto;
  background:white;
  background:rgba(255,255,255,0.9);
  backdrop-filter:blur(10px);
  box-shadow:0px 2px 10px rgba(0,0,0,0.3);
  border-radius:5px;
  transition:transform 0.2s ease-in-out;
}


input {
  width: 100%;
  /* margin: 7px 0px; */
  margin-bottom: 7px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
select {
    position: absolute;
    text-align: left;
}
p{
    text-align:justify;
    margin-top:0;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label {
    background-color: #f56c88;
    color: white;
}
input[type="checkbox"]:checked + label::before {
    height: 16px;
    width: 16px;
    border: 6px solid white;
    background-color: #f56c88;
}
#confirmation {
    display: none;
    background-color: green;
    color: lightgoldenrodyellow;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
input[type="radio"] {
    display: none;
}
.container label {
    position: relative;
    color: #EC486A;
    font-size: 15px;
    border: 2px solid #EC486A;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}
.container label::before {
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid #EC486A;
    border-radius: 50%;
    margin-right: 20px;
}
input[type="radio"]:checked + label {
    background-color: #f56c88;
    color: white;
}
input[type="radio"]:checked + label::before {
    height: 16px;
    width: 16px;
    border: 6px solid white;
    background-color: #f56c88;
}
#confirmation {
    display: none;
    background-color: green;
    color: lightgoldenrodyellow;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.g-recaptcha {
    display: none;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}