
/** ADD YOUR AWESOME CODES HERE **/
.contact-wrap {
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

} 
.contact-wrap .label {
	color: white;
}
.contact-wrap h3 {
	color: white;
	font-size: 2.5rem;
}