@charset "UTF-8";
table {
    border-collapse: collapse
}

th {
    text-align: inherit
}

@media (min-width:992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }
    .col-lg-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-lg-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-lg-first {
        order: -1
    }
    .order-lg-last {
        order: 13
    }
    .order-lg-0 {
        order: 0
    }
    .order-lg-1 {
        order: 1
    }
    .order-lg-2 {
        order: 2
    }
    .order-lg-3 {
        order: 3
    }
    .order-lg-4 {
        order: 4
    }
    .order-lg-5 {
        order: 5
    }
    .order-lg-6 {
        order: 6
    }
    .order-lg-7 {
        order: 7
    }
    .order-lg-8 {
        order: 8
    }
    .order-lg-9 {
        order: 9
    }
    .order-lg-10 {
        order: 10
    }
    .order-lg-11 {
        order: 11
    }
    .order-lg-12 {
        order: 12
    }
    .offset-lg-0 {
        margin-left: 0
    }
    .offset-lg-1 {
        margin-left: 8.333333%
    }
    .offset-lg-2 {
        margin-left: 16.666667%
    }
    .offset-lg-3 {
        margin-left: 25%
    }
    .offset-lg-4 {
        margin-left: 33.333333%
    }
    .offset-lg-5 {
        margin-left: 41.666667%
    }
    .offset-lg-6 {
        margin-left: 50%
    }
    .offset-lg-7 {
        margin-left: 58.333333%
    }
    .offset-lg-8 {
        margin-left: 66.666667%
    }
    .offset-lg-9 {
        margin-left: 75%
    }
    .offset-lg-10 {
        margin-left: 83.333333%
    }
    .offset-lg-11 {
        margin-left: 91.666667%
    }
}

@media (min-width:1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }
    .col-xl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-xl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-xl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-xl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-xl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-xl-first {
        order: -1
    }
    .order-xl-last {
        order: 13
    }
    .order-xl-0 {
        order: 0
    }
    .order-xl-1 {
        order: 1
    }
    .order-xl-2 {
        order: 2
    }
    .order-xl-3 {
        order: 3
    }
    .order-xl-4 {
        order: 4
    }
    .order-xl-5 {
        order: 5
    }
    .order-xl-6 {
        order: 6
    }
    .order-xl-7 {
        order: 7
    }
    .order-xl-8 {
        order: 8
    }
    .order-xl-9 {
        order: 9
    }
    .order-xl-10 {
        order: 10
    }
    .order-xl-11 {
        order: 11
    }
    .order-xl-12 {
        order: 12
    }
    .offset-xl-0 {
        margin-left: 0
    }
    .offset-xl-1 {
        margin-left: 8.333333%
    }
    .offset-xl-2 {
        margin-left: 16.666667%
    }
    .offset-xl-3 {
        margin-left: 25%
    }
    .offset-xl-4 {
        margin-left: 33.333333%
    }
    .offset-xl-5 {
        margin-left: 41.666667%
    }
    .offset-xl-6 {
        margin-left: 50%
    }
    .offset-xl-7 {
        margin-left: 58.333333%
    }
    .offset-xl-8 {
        margin-left: 66.666667%
    }
    .offset-xl-9 {
        margin-left: 75%
    }
    .offset-xl-10 {
        margin-left: 83.333333%
    }
    .offset-xl-11 {
        margin-left: 91.666667%
    }
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #525f7f;
    background-color: transparent
}

.table td,
.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: .0625rem solid #e3e3e3
}

.table thead th {
    vertical-align: bottom;
    border-bottom: .125rem solid #e3e3e3
}

.table tbody+tbody {
    border-top: .125rem solid #e3e3e3
}

.table-sm td,
.table-sm th {
    padding: .3rem
}

.table-bordered,
.table-bordered td,
.table-bordered th {
    border: .0625rem solid #e3e3e3
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: .125rem
}

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(34, 42, 66, .05)
}

.table-hover tbody tr:hover {
    color: #525f7f;
    background-color: rgba(34, 42, 66, .075)
}

.table-primary,
.table-primary>td,
.table-primary>th {
    background-color: #f7cdf0
}

.table-primary tbody+tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
    border-color: #efa3e3
}

.table-hover .table-primary:hover,
.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #f3b7e9
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
    background-color: #fcfcfd
}

.table-secondary tbody+tbody,
.table-secondary td,
.table-secondary th,
.table-secondary thead th {
    border-color: #f9fafb
}

.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #ededf3
}

.table-success,
.table-success>td,
.table-success>th {
    background-color: #b8fbee
}

.table-success tbody+tbody,
.table-success td,
.table-success th,
.table-success thead th {
    border-color: #7af8e0
}

.table-hover .table-success:hover,
.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #a0fae8
}

.table-info,
.table-info>td,
.table-info>th {
    background-color: #c0dffd
}

.table-info tbody+tbody,
.table-info td,
.table-info th,
.table-info thead th {
    border-color: #89c3fb
}

.table-hover .table-info:hover,
.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #a7d2fc
}

.table-warning,
.table-warning>td,
.table-warning>th {
    background-color: #ffdfd8
}

.table-warning tbody+tbody,
.table-warning td,
.table-warning th,
.table-warning thead th {
    border-color: #ffc4b6
}

.table-hover .table-warning:hover,
.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #ffcabf
}

.table-danger,
.table-danger>td,
.table-danger>th {
    background-color: #fed2e1
}

.table-danger tbody+tbody,
.table-danger td,
.table-danger th,
.table-danger thead th {
    border-color: #feabc7
}

.table-hover .table-danger:hover,
.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #fdb9d0
}

.table-light,
.table-light>td,
.table-light>th {
    background-color: #e8eaed
}

.table-light tbody+tbody,
.table-light td,
.table-light th,
.table-light thead th {
    border-color: #d4d9dd
}

.table-hover .table-light:hover,
.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #dadde2
}

.table-dark,
.table-dark>td,
.table-dark>th {
    background-color: #c1c2c3
}

.table-dark tbody+tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #8c8e90
}

.table-hover .table-dark:hover,
.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b4b5b6
}

.table-default,
.table-default>td,
.table-default>th {
    background-color: #c6cbd8
}

.table-default tbody+tbody,
.table-default td,
.table-default th,
.table-default thead th {
    border-color: #959fb7
}

.table-hover .table-default:hover,
.table-hover .table-default:hover>td,
.table-hover .table-default:hover>th {
    background-color: #b7bdce
}

.table-white,
.table-white>td,
.table-white>th {
    background-color: #fff
}

.table-white tbody+tbody,
.table-white td,
.table-white th,
.table-white thead th {
    border-color: #fff
}

.table-hover .table-white:hover,
.table-hover .table-white:hover>td,
.table-hover .table-white:hover>th {
    background-color: #f2f2f2
}

.table-neutral,
.table-neutral>td,
.table-neutral>th {
    background-color: #fff
}

.table-neutral tbody+tbody,
.table-neutral td,
.table-neutral th,
.table-neutral thead th {
    border-color: #fff
}

.table-hover .table-neutral:hover,
.table-hover .table-neutral:hover>td,
.table-hover .table-neutral:hover>th {
    background-color: #f2f2f2
}

.table-darker,
.table-darker>td,
.table-darker>th {
    background-color: #b8b8b8
}

.table-darker tbody+tbody,
.table-darker td,
.table-darker th,
.table-darker thead th {
    border-color: #7a7a7a
}

.table-hover .table-darker:hover,
.table-hover .table-darker:hover>td,
.table-hover .table-darker:hover>th {
    background-color: #ababab
}

.table-active,
.table-active>td,
.table-active>th {
    background-color: rgba(34, 42, 66, .075)
}

.table-hover .table-active:hover,
.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(25, 31, 49, .075)
}

.table .thead-dark th {
    color: #1e1e2f;
    background-color: #212529;
    border-color: #32383e
}

.table .thead-light th {
    color: #525f7f;
    background-color: #e9ecef;
    border-color: #e3e3e3
}

.table-dark {
    color: #1e1e2f;
    background-color: #212529
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #32383e
}

.table-dark.table-bordered {
    border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: hsla(0, 0%, 100%, .05)
}

.table-dark.table-hover tbody tr:hover {
    color: #1e1e2f;
    background-color: hsla(0, 0%, 100%, .075)
}

@media (max-width:575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-sm>.table-bordered {
        border: 0
    }
}

@media (max-width:767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-md>.table-bordered {
        border: 0
    }
}

@media (max-width:991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-lg>.table-bordered {
        border: 0
    }
}

@media (max-width:1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-xl>.table-bordered {
        border: 0
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.table-responsive>.table-bordered {
    border: 0
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem
}

.tooltip .arrow:before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid
}

.bs-tooltip-auto[x-placement^=top],
.bs-tooltip-top {
    padding: .4rem 0
}

.input-group-append .input-group-text {
    border-left: none
}

table.dataTable {
    clear: both;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    max-width: none!important;
    border-collapse: separate!important;
    border-spacing: 0
}

table.dataTable td,
table.dataTable th {
    box-sizing: content-box
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
    text-align: center
}

table.dataTable.nowrap td,
table.dataTable.nowrap th {
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: 400;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: .85em;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0
}

table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc {
    padding-right: 30px
}

table.dataTable thead>tr>td:active,
table.dataTable thead>tr>th:active {
    outline: none
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    position: absolute;
    bottom: .9em;
    display: block;
    opacity: .3
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191"
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: .5em;
    content: "\2193"
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0!important
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0!important;
    margin-bottom: 0!important
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:after,
div.dataTables_scrollBody table thead .sorting_desc:before {
    display: none
}

div.dataTables_scrollBody table tbody tr:first-child td,
div.dataTables_scrollBody table tbody tr:first-child th {
    border-top: none
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner {
    box-sizing: content-box
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner>table {
    margin-top: 0!important;
    border-top: none
}

@media screen and (max-width:767px) {
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }
}

table.dataTable.table-sm>thead>tr>th {
    padding-right: 20px
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: .85em
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
    top: 5px
}

table.table-bordered.dataTable td,
table.table-bordered.dataTable th {
    border-left-width: 0
}

table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable th:last-child {
    border-right-width: 0
}

div.dataTables_scrollHead table.table-bordered,
table.table-bordered.dataTable tbody td,
table.table-bordered.dataTable tbody th {
    border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child {
    padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child {
    padding-right: 0
}

div.dt-autofill-handle {
    position: absolute;
    height: 8px;
    width: 8px;
    z-index: 102;
    box-sizing: border-box;
    border: 1px solid #0275d8;
    background: #0275d8
}

div.dt-autofill-select {
    position: absolute;
    z-index: 1001;
    background-color: #0275d8;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, .5) 10px)
}

div.dt-autofill-select.bottom,
div.dt-autofill-select.top {
    height: 3px;
    margin-top: -1px
}

div.dt-autofill-select.left,
div.dt-autofill-select.right {
    width: 3px;
    margin-left: -1px
}

div.dt-autofill-list {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px #555;
    border: 2px solid #444;
    z-index: 11;
    box-sizing: border-box;
    padding: 1.5em 2em
}

div.dt-autofill-list ul {
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%
}

div.dt-autofill-list ul li {
    display: table-row
}

div.dt-autofill-list ul li:last-child div.dt-autofill-button,
div.dt-autofill-list ul li:last-child div.dt-autofill-question {
    border-bottom: none
}

div.dt-autofill-list ul li:hover {
    background-color: #f6f6f6
}

div.dt-autofill-list div.dt-autofill-question {
    display: table-cell;
    padding: .5em 0;
    border-bottom: 1px solid #ccc
}

div.dt-autofill-list div.dt-autofill-question input[type=number] {
    width: 30px
}

div.dt-autofill-list div.dt-autofill-button {
    display: table-cell;
    padding: .5em 0;
    border-bottom: 1px solid #ccc
}

div.dt-autofill-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .7) 100%);
    z-index: 10
}

div.dt-autofill-list div.dt-autofill-question input[type=number] {
    padding: 6px;
    width: 60px;
    margin: -2px 0
}

div.dataTables_info {
    color: hsla(20, 98%, 47%, 0.7)
}

@keyframes u {
    to {
        transform: rotate(1turn)
    }
}

div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    background-color: #fff;
    border: 2px solid #111;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
    border-radius: 3px;
    text-align: center;
    z-index: 21
}

div.dt-button-info h2 {
    padding: .5em;
    margin: 0;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3
}

div.dt-button-info>div {
    padding: 1em
}

ul.dt-button-collection.dropdown-menu {
    display: block;
    z-index: 2002;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px
}

ul.dt-button-collection.dropdown-menu.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    border-radius: 0
}

ul.dt-button-collection.dropdown-menu.fixed.two-column {
    margin-left: -150px
}

ul.dt-button-collection.dropdown-menu.fixed.three-column {
    margin-left: -225px
}

ul.dt-button-collection.dropdown-menu.fixed.four-column {
    margin-left: -300px
}

ul.dt-button-collection.dropdown-menu>* {
    break-inside: avoid
}

ul.dt-button-collection.dropdown-menu.two-column {
    width: 300px;
    padding-bottom: 1px;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2
}

ul.dt-button-collection.dropdown-menu.three-column {
    width: 450px;
    padding-bottom: 1px;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3
}

ul.dt-button-collection.dropdown-menu.four-column {
    width: 600px;
    padding-bottom: 1px;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4
}

ul.dt-button-collection.dropdown-menu .dt-button {
    border-radius: 0
}

ul.dt-button-collection {
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px
}

ul.dt-button-collection.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    border-radius: 0
}

ul.dt-button-collection.fixed.two-column {
    margin-left: -150px
}

ul.dt-button-collection.fixed.three-column {
    margin-left: -225px
}

ul.dt-button-collection.fixed.four-column {
    margin-left: -300px
}

ul.dt-button-collection>* {
    break-inside: avoid
}

ul.dt-button-collection.two-column {
    width: 300px;
    padding-bottom: 1px;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2
}

ul.dt-button-collection.three-column {
    width: 450px;
    padding-bottom: 1px;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3
}

ul.dt-button-collection.four-column {
    width: 600px;
    padding-bottom: 1px;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4
}

ul.dt-button-collection .dt-button {
    border-radius: 0
}

ul.dt-button-collection.fixed {
    max-width: none
}

ul.dt-button-collection.fixed:after,
ul.dt-button-collection.fixed:before {
    display: none
}

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999
}

@media screen and (max-width:767px) {
    div.dt-buttons {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: .5em
    }
    div.dt-buttons a.btn {
        float: none
    }
}

div.dt-buttons a.btn.processing,
div.dt-buttons button.btn.processing,
div.dt-buttons div.btn.processing {
    color: rgba(0, 0, 0, .2)
}

div.dt-buttons a.btn.processing:after,
div.dt-buttons button.btn.processing:after,
div.dt-buttons div.btn.processing:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    box-sizing: border-box;
    display: block;
    content: " ";
    border: 2px solid #282828;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: u 1.5s infinite linear;
    -o-animation: u 1.5s infinite linear;
    -ms-animation: u 1.5s infinite linear;
    -webkit-animation: u 1.5s infinite linear;
    -moz-animation: u 1.5s infinite linear
}

table.DTCR_clonedTable.dataTable {
    position: absolute!important;
    background-color: hsla(0, 0%, 100%, .7);
    z-index: 202
}

div.DTCR_pointer {
    width: 1px;
    background-color: #0275d8;
    z-index: 201
}

table.DTFC_Cloned tr {
    background-color: #fff;
    margin-bottom: 0
}

div.DTFC_LeftHeadWrapper table,
div.DTFC_RightHeadWrapper table {
    border-bottom: none!important;
    margin-bottom: 0!important;
    background-color: #fff
}

div.DTFC_LeftBodyWrapper table,
div.DTFC_RightBodyWrapper table {
    border-top: none;
    margin: 0!important
}

div.DTFC_LeftBodyWrapper table thead .sorting:after,
div.DTFC_LeftBodyWrapper table thead .sorting_asc:after,
div.DTFC_LeftBodyWrapper table thead .sorting_desc:after,
div.DTFC_RightBodyWrapper table thead .sorting:after,
div.DTFC_RightBodyWrapper table thead .sorting_asc:after,
div.DTFC_RightBodyWrapper table thead .sorting_desc:after {
    display: none
}

div.DTFC_LeftBodyWrapper table tbody tr:first-child td,
div.DTFC_LeftBodyWrapper table tbody tr:first-child th,
div.DTFC_RightBodyWrapper table tbody tr:first-child td,
div.DTFC_RightBodyWrapper table tbody tr:first-child th {
    border-top: none
}

div.DTFC_LeftFootWrapper table,
div.DTFC_RightFootWrapper table {
    border-top: none;
    margin-top: 0!important;
    background-color: #fff
}

div.DTFC_Blocker,
table.dataTable.table-striped.DTFC_Cloned tbody {
    background-color: #fff
}

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
    background-color: #fff;
    margin-top: 0!important;
    margin-bottom: 0!important
}

table.dataTable.fixedHeader-floating {
    position: fixed!important
}

table.dataTable.fixedHeader-locked {
    position: absolute!important
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

table.dataTable tbody td.focus,
table.dataTable tbody th.focus {
    box-shadow: inset 0 0 1px 2px #0275d8
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child {
    cursor: default!important
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before {
    display: none!important
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
    top: 12px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0!important;
    font-family: Courier New, Courier, monospace;
    line-height: 14px;
    content: "+";
    background-color: #0275d8
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: "-";
    background-color: #d33333
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
    padding-left: 27px
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    text-indent: 3px
}

table.dataTable.dtr-column>tbody>tr>td.control,
table.dataTable.dtr-column>tbody>tr>th.control {
    position: relative;
    cursor: pointer
}

table.dataTable.dtr-column>tbody>tr>td.control:before,
table.dataTable.dtr-column>tbody>tr>th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0!important;
    font-family: Courier New, Courier, monospace;
    line-height: 14px;
    content: "+";
    background-color: #0275d8
}

table.dataTable.dtr-column>tbody>tr.parent td.control:before,
table.dataTable.dtr-column>tbody>tr.parent th.control:before {
    content: "-";
    background-color: #d33333
}

table.dataTable>tbody>tr.child {
    padding: .5em 1em
}

table.dataTable>tbody>tr.child:hover {
    background: transparent!important
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0
}

table.dataTable>tbody>tr.child ul.dtr-details>li {
    border-bottom: 1px solid #efefef;
    padding: .5em 0
}

table.dataTable>tbody>tr.child ul.dtr-details>li:first-child {
    padding-top: 0
}

table.dataTable>tbody>tr.child ul.dtr-details>li:last-child {
    border-bottom: none
}

table.dataTable>tbody>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: 700
}

div.dtr-modal {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 10em 1em
}

div.dtr-modal div.dtr-modal-display {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    z-index: 102;
    overflow: auto;
    background-color: #f5f5f7;
    border: 1px solid #000;
    border-radius: .5em;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .6)
}

div.dtr-modal div.dtr-modal-content {
    position: relative;
    padding: 1em
}

div.dtr-modal div.dtr-modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 12
}

div.dtr-modal div.dtr-modal-close:hover {
    background-color: #eaeaea
}

div.dtr-modal div.dtr-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, .6)
}

@media screen and (max-width:767px) {
    div.dtr-modal div.dtr-modal-display {
        width: 95%
    }
}

div.dtr-bs-modal table.table tr:first-child td {
    border-top: none
}

table.dataTable tr.group td {
    font-weight: 700;
    background-color: #e0e0e0
}

table.dt-rowReorder-float {
    position: absolute!important;
    opacity: .8;
    table-layout: fixed;
    outline: 2px solid #0275d8;
    outline-offset: -2px;
    z-index: 2001
}

tr.dt-rowReorder-moving {
    outline: 2px solid #888;
    outline-offset: -2px
}

body.dt-rowReorder-noOverflow {
    overflow-x: hidden
}

table.dataTable td.reorder {
    text-align: center;
    cursor: move
}

div.DTS {
    display: block!important
}

div.DTS tbody td,
div.DTS tbody th {
    white-space: nowrap
}

div.DTS div.DTS_Loading {
    z-index: 1
}

div.DTS div.dataTables_scrollBody {
    background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, #fff 0, #fff 20px)
}

div.DTS div.dataTables_scrollBody table {
    z-index: 2
}

div.DTS div.dataTables_length,
div.DTS div.dataTables_paginate {
    display: none
}

div.DTS div.dataTables_scrollBody table {
    background-color: #fff
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #0275d8
}

table.dataTable.display tbody>tr.odd.selected,
table.dataTable.display tbody>tr.odd>.selected,
table.dataTable.stripe tbody>tr.odd.selected,
table.dataTable.stripe tbody>tr.odd>.selected {
    background-color: #0272d3
}

table.dataTable.display tbody>tr.selected:hover,
table.dataTable.display tbody>tr>.selected:hover,
table.dataTable.hover tbody>tr.selected:hover,
table.dataTable.hover tbody>tr>.selected:hover {
    background-color: #0271d0
}

table.dataTable.display tbody>tr.selected>.sorting_1,
table.dataTable.display tbody>tr.selected>.sorting_2,
table.dataTable.display tbody>tr.selected>.sorting_3,
table.dataTable.display tbody>tr>.selected,
table.dataTable.order-column tbody>tr.selected>.sorting_1,
table.dataTable.order-column tbody>tr.selected>.sorting_2,
table.dataTable.order-column tbody>tr.selected>.sorting_3,
table.dataTable.order-column tbody>tr>.selected {
    background-color: #0273d4
}

table.dataTable.display tbody>tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: #026fcc
}

table.dataTable.display tbody>tr.odd.selected>.sorting_2,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_2 {
    background-color: #0270ce
}

table.dataTable.display tbody>tr.odd.selected>.sorting_3,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_3 {
    background-color: #0270d0
}

table.dataTable.display tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1 {
    background-color: #0273d4
}

table.dataTable.display tbody>tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_2 {
    background-color: #0274d5
}

table.dataTable.display tbody>tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_3 {
    background-color: #0275d7
}

table.dataTable.display tbody>tr.odd>.selected,
table.dataTable.order-column.stripe tbody>tr.odd>.selected {
    background-color: #026fcc
}

table.dataTable.display tbody>tr.even>.selected,
table.dataTable.order-column.stripe tbody>tr.even>.selected {
    background-color: #0273d4
}

table.dataTable.display tbody>tr.selected:hover>.sorting_1,
table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1 {
    background-color: #026bc6
}

table.dataTable.display tbody>tr.selected:hover>.sorting_2,
table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_2 {
    background-color: #026cc8
}

table.dataTable.display tbody>tr.selected:hover>.sorting_3,
table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_3 {
    background-color: #026eca
}

table.dataTable.display tbody>tr:hover>.selected,
table.dataTable.display tbody>tr>.selected:hover,
table.dataTable.order-column.hover tbody>tr:hover>.selected,
table.dataTable.order-column.hover tbody>tr>.selected:hover {
    background-color: #026bc6
}

table.dataTable tbody td.select-checkbox,
table.dataTable tbody th.select-checkbox {
    position: relative
}

table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before {
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
    content: " ";
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid #000;
    border-radius: 3px
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
    content: "\2714";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
    margin-left: .5em
}

@media screen and (max-width:640px) {
    div.dataTables_wrapper span.select-info,
    div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block
    }
}

table.dataTable tbody td.selected,
table.dataTable tbody th.selected,
table.dataTable tbody tr.selected {
    color: #fff
}

table.dataTable tbody td.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody tr.selected a {
    color: #a2d4ed
}

.white-content .table>tbody>tr>td {
    color: rgba(34, 42, 66, .7)!important
}

.white-content .table>tbody>tr>td,
.white-content .table>tbody>tr>th,
.white-content .table>tfoot>tr>td,
.white-content .table>tfoot>tr>th,
.white-content .table>thead>tr>td,
.white-content .table>thead>tr>th {
    border-color: rgba(34, 42, 66, .2);
    padding: 12px 7px;
    vertical-align: middle
}

.white-content .table>thead>tr>th,
.white-content .table button.btn-neutral.btn-link {
    color: rgba(34, 42, 66, .7)
}

.card .card-body.table-full-width {
    padding-left: 0;
    padding-right: 0
}

.card-tasks .table-full-width {
    max-height: 410px;
    position: relative
}