@font-face {
    font-family: Kalpurush;
    src: url('/Ambassador/assets/fonts/ASG_TARIQ.TTF');
}

.bangla {
    font-family: Kalpurush;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 235, 111, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: green;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

.correct .choice-text,
.incorrect .choice-text,
.correct sup,
.correct sub,
.incorrect sup,
.incorrect sub {
    color: white;
}


/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid green;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: green;
    width: 0%;
}


/* LOADER */

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid green;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.quiz_timer {
    border: 5px solid #004853;
    padding: 5px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    width: 130px;
    margin-left: 50%;
}

.finish {
    padding: 5px;
    width: 150px;
    font-size: 25px;
    color: white;
    font-family: Verdana, sans-serif, Arial;
    background-color: red;
    border: 5px solid black;
    font-weight: bold;
    text-decoration: none;
    width: 130px;
    margin-left: 50%;
}

@media screen and (max-width:400px) {
    .quiz_timer {
        margin-left: 70%;
        font-size: 25px;
        width: 100px;
    }
}

.time {
    color: #004853;
}

.ftime {
    color: white;
    font-size: 22px;
}

#pass {
    width: 75px;
    margin-left: 10px;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(255, 123, 0);
    cursor: pointer;
    font-size: 20px;
}

#pass:focus {
    outline: 0px;
}

#pass:hover {
    background-image: white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(255, 123, 0);
}