body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container.csc {
  max-width: 700px;
}

footer {
  background: #273b47;
  color: white;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  margin: 10px 0;
  border: solid 1px #333;
  padding: 2px 4px;
  font: 15px Verdana;
  text-align: center;
}

th {
  font-weight: bold;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
