a:hover {
    text-decoration: none;
}

@font-face {
    font-family: Kalpurush;
    src: url('/Ambassador/assets/fonts/ASG_TARIQ.TTF');
}

.bangla {
    font-family: Kalpurush;
}

#module {
    font-size: 1rem;
    line-height: 1.5;
}

#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#module #collapseExample.collapsing {
    height: 3rem;
}

#module a.collapsed::after {
    content: '+ আরো পড়ুন';
}

#module a:not(.collapsed)::after {
    content: '- সংক্ষিপ্ত করুন';
}

.image-loaded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .9;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}