@font-face {
    font-family: Kalpurush;
    src: url(/Ambassador/assets/fonts/ASG_TARIQ.TTF);
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(/CrashCourse/fonts/Futura_Bold.otf)
}

.bangla {
    font-family: Kalpurush;
}

#hsc,
.ClassyCountdown-value {
    font-family: Gilroy-ExtraBold!important;
}

.navbar-brand img {
    height: 35px;
}

#prof {
    font-size: 20px;
    color: darkslategray;
}

.fa-fire {
    color: red;
}

#thumbnail-vid img {
    height: 100vh;
}