body {
    /* background: url('../../assets/images/bg.jpg'); */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    background-attachment: fixed;
    background-color: #fdfdfd;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Kalpurush;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.col-md-8.first {
    width: 100%;
}

.flex-column {
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

@media only screen and (max-width: 600px) {
    .flex-column {
        display: flex;
    }
}

.flex-column>* {
    max-width: 650px;
}

iframe {
    border-radius: 15px 15px 0 0;
    box-shadow: 10px 15px 0 0 gray;
}

.cove {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px gray;
    background: rgb(253, 253, 253);
}

.shopcontainer {
    max-width: 1225px;
}

.row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .shopcontainer {
        padding: 20px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media only screen and (max-width: 768px) {
    #teachers {
        order: 2;
    }
    #content {
        order: 3;
    }
    #video {
        order: 1;
    }
}

.contmeta {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 10px 5px gray;
    background: rgb(253, 253, 253);
}

.form-check-input {
    margin-left: 0px;
}

ol {
    padding-inline-start: 0;
}

.metaCont {
    max-height: 13em;
    overflow: auto;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, .08);
}

.disabled {
    cursor: not-allowed;
}

[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

.tag {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 290486px;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin-bottom: .8rem;
    margin-right: .25rem;
    margin-left: .25rem;
}

.tag2 {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 290486px;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    font-size: 85% !important;
    white-space: nowrap;
    margin-bottom: .8rem;
    margin-right: .25rem;
    margin-left: .25rem;
}

.tag .fa-youtube,
.tag2 .fa-youtube {
    color: #ff0000;
}

.flt {
    display: flex;
    flex-direction: column;
}

.met {
    display: flex;
    justify-content: center;
    margin-bottom: calc(1.5rem - .75rem);
}

.met .tag,
.met .tag2 {
    border-radius: 0;
    background-color: inherit;
}

.teachers {
    display: flex;
}

.teachers img {
    height: 64px;
    width: 64px;
    margin-left: 40px;
    border-radius: 55em;
}

star-rating {
    min-height: 0rem!important;
}

.media {
    align-items: flex-start;
    display: flex;
    text-align: inherit;
}

.image.is-64x64 {
    height: 70px;
    width: 70px;
    border-radius: 55em;
}

.media-left {
    margin-right: 1rem;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;
}

.title.is-5 {
    font-size: 1.25rem;
}

.subtitle {
    color: #3f3f3f;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.subtitle.is-6 {
    font-size: 1rem;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.25rem;
}