
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(fonts/Futura_Bold.otf)
}
*{
    margin: 0;
    padding: 0;
  
}
/* body{
  background-image: ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

} */

body {
    width: 100%;
    height: 100%;
    background-image: url(imegs/CrashBG.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.logo{
    width:100%;
    height:100%;
}
.buttonContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
a{
    padding: 15px;
    text-align: center;
    background: rgba(240, 8, 85, 0.747);
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: Gilroy-ExtraBold;
}


  

a:hover{
    border: 1px solid rgb(236, 8, 84);
    transform:translateY(-2px);
    transition:all 0.5s ease-in-out;
    background-color: white;
    color: rgb(236, 8, 84);

}
