@font-face {
    font-family: Kalpurush;
    src: url('/Ambassador/assets/fonts/kalpurush.ttf');
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    background-attachment: fixed;
    background-color: #fdfdfd;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Kalpurush;
}

.card {
    background: none;
    border: none;
}

.container input:focus {
    border-radius: 10px;
    padding: 25px;
    color: #EE4574;
    font-size: larger;
}

.container input {
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    text-align: center;
}

h3,
h2 {
    color: #EE4574;
}

h5 {
    color: #EE4574;
    font-weight: bold;
}

.links {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #EE4574;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 15px;
}

.links:hover {
    color: #EE4574;
    background: #fdfdfd;
    border: 1px solid #EE4574;
    cursor: pointer;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.chobi,
video {
    height: 400px;
    width: 100%;
}

.col-md-15 {
    border: 3px solid #EE4574;
    border-radius: 10px;
    margin: 5px;
    padding-top: 25px;
}

.container {
    max-width: 700px;
}

.all-container {
    opacity: 0;
    height: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDFDFD;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

hr {
    border-top: 1px dashed black;
}