*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #2c3f52;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    margin-top: 25px;
}

h1 {
    font-family: Kalpurush;
    text-align: center;
}

a {
    color: #888;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover,
a:active {
    color: #333;
    text-decoration: none;
}