.container input:focus {
    border-radius: 10px;
    padding: 25px;
    color: #30966f;
}

.container .btn {
    border: 1px solid black;
    border-radius: 10px;
}

.container .btn:hover {
    color: #fefefe;
    background-image: linear-gradient(to right, #94e498, #30966f);
}

.navbar button:hover {
    color: black;
}

.all-container {
    opacity: 0;
    height: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDFDFD;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}